<nav class="aside d-flex flex-column justify-content-between">
    <div class="asideBox">
        <img src="/assets/images/logo-ANSWER.svg" alt="logo" class="ms-4 mt-4">
        <ul class="asideList mt-5">
            <li class="asideItem d-flex align-items-center mb-4">
                <a href="#" class="asideLink d-flex align-items-center">
                    <span class="material-icons pe-3 ms-5">
                        insert_chart
                    </span>
                    Dashboard
                </a>
            </li>
            <li class="asideItem mb-4">
                <a href="#" class="asideLink d-flex align-items-center">
                    <span class="material-icons pe-3 ms-5">
                        forum
                    </span>
                    Question
                </a>
            </li>
            <li class="asideItem mb-4">
                <a href="index.html" class="asideLink d-flex align-items-center" id="assignment">
                    <span class="material-icons pe-3 ms-5">
                        assignment
                    </span>
                    Assignment
                </a>
            </li>
            <li class="asideItem mb-4">
                <a href="#" class="asideLink d-flex align-items-center">
                    <span class="material-icons pe-3 ms-5">
                        video_library
                    </span>
                    Course
                </a>
            </li>
            <li class="asideItem mb-4">
                <a href="admin.html" class="asideLink d-flex align-items-center" id="admin">
                    <span class="material-icons pe-3 ms-5">
                        group
                    </span>
                    Admin
                </a>
            </li>
            <li class="asideItem">
                <a href="#" class="asideLink d-flex align-items-center">
                    <span class="material-icons pe-3 ms-5">
                        settings
                    </span>
                    Settings
                </a>
            </li>
        </ul>
    </div>
    <ul class="asideUser d-flex align-items-center p-5">
        <img src="/assets/images/andychen.jpeg" alt="andychen">
        <div class="d-flex flex-column ms-3">
            <h3 class="pb-1 fw-bold">Andy Chen</h3>
            <p>andy0401@mail.com</p>
        </div>
    </ul>
</nav>